li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-book-img {
  margin-bottom: 10px;
  background-color: rgba(108, 174, 255, 0.3);
  cursor: pointer;
}

.home-book-img img {
  width: 100%;
  height: auto;
}

.book-name {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.book-subtitle {
  margin-bottom: 15px;
}

.book-price-like {
  display: flex;
  justify-content: space-between;
}

.book-like-icon {
  width: 28px;
  height: auto;
  cursor: pointer;
}
