li {
   width: 30%;
   cursor: pointer;
}

.price-stars {
   display: flex;
   justify-content: space-between;
}

.home-book-img {
   border: 3px solid black;
   margin-bottom: 10px;
}

.home-book-img img {
   width: 100%;
   height: auto;
}

.book-name {
   margin-bottom: 8px;
}

.book-subtitle {
   margin-bottom: 15px;
}