.arrow-icon {
  height: auto;
  width: 38px;
  margin-bottom: 1vh;
  cursor: pointer;
}

.book-title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.img-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.book-img {
  width: 38%;
  background-color: rgba(255, 190, 158, 0.4);
}

.book-img img {
  width: 100%;
  height: auto;
}

.info {
  border-top: 1px solid black;
  width: 45%;
}

.price-rating {
  margin: 35px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.authors-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.authors {
  color: rgba(0, 0, 0, 0.5);
}

.publisher-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.publisher {
  color: rgba(0, 0, 0, 0.5);
}

.language-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.language {
  color: rgba(0, 0, 0, 0.5);
}

.add-to-cart {
  width: 100%;
  height: 6vh;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 300ms;
  text-transform: uppercase;
}

.add-to-cart:active {
  background-color: rgb(150, 150, 150);
}

.add-to-cart-clicked {
  background-color: rgba(165, 42, 42, 0.8);
  cursor: auto;
  width: 100%;
  height: 6vh;
  color: white;
  border: none;
  transition: 300ms;
  text-transform: uppercase;
}

.social-btns-icons {
  display: flex;
}

.social-icons {
  width: 22px;
  height: auto;
  margin-right: 20px;
  cursor: pointer;
}

.dots-icon {
  margin-right: 0;
}
